.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    color: #111;
  }
  .navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
}
